html {
    background-color: #000000;
}

body {
    font-family: cursive;
    color:blue;
    text-align: center;
    font-size: 20px;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
    padding: 0;
    background-color: #f5f5f5;
}

.container p {
    text-align: start;
    padding: 0 1rem;
}

#cabecera {
    -webkit-box-shadow: 10px 10px 29px 3px rgba(0,0,0,0.37);
-moz-box-shadow: 10px 10px 29px 3px rgba(0,0,0,0.37);
box-shadow: 10px 10px 29px 3px rgba(0,0,0,0.37);
    background-color: aquamarine;
    color: #f5f5f5;
    padding: 1rem 0;
    font-weight: 700;
    font-size: 30px;
    text-align: start;
}

#cabecera span {
    font-size: 16px;
    color: black;
    padding-left: 1rem;
}

<<<<<<< HEAD
#cabecera .logo {
    width: 30px;
    height: 1.6rem;
    vertical-align: middle;
    padding-left: 1rem;
=======
.footer {
    background-color: #fda;
    text-align: center;
    padding: 1rem;
>>>>>>> footer
}